<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<body>
Congratulations! Logirani ste.
<td>Hello, <span th:text="${name}" />!</td>

<h3>Generated Sequences</h3>
<p th:each="user : ${users}">
<h4>User:</h4>
<div th:text="${user.username}"></div>
<h4>Password:</h4>
<div th:text="${user.password}"></div>

<div>---------------------------------------------------------</div>
</p>


<table >
    <tr>
        <td>
        <button type="submit">Claim New</button>
        </td>
        <td>
            <button type="submit">Search Filter</button>
        </td>
    </tr>

    <tr>
        <td>NO.</td>
        <td>Submitted By</td>
        <td>Purpose</td>
        <td>Date</td>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>
        <td>
            <button type="submit">Page</button>
        </td>
    </tr>
</table>

</body>
</html>