<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:include="header::head"></div>
</head>
<body>

Congratulations! Logirani ste.


<h3>Generated Sequences</h3>

<div>---------------------------------------------------------</div>


<table>
    <tr>
        <td>
            <button type="submit">Claim New</button>
        </td>
        <td>
            <button type="submit">Search Filter</button>
        </td>
    </tr>

    <tr>
        <td>NO.</td>
        <td>Submitted By</td>
        <td>Purpose</td>
        <td>Date</td>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>
        <td>
            <button type="submit">Page</button>
        </td>
    </tr>
</table>

</body>
</html>


